<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <h1>Book Library</h1>
    <!-- This page shows the user the books and logs them out using EJS -->
    <% if (user) { %>
    <p>Welcome <%= user.username %> to our Book Library Page</p>
    <p>Below is the list of books</p>
    <ul>
      <% books.forEach(function(book) { %>
      <li><%= book.title %></li>
      <% }); %>
    </ul>

    <br />

    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>

    <% } else { %>
    <p>Please <a href="/login">login</a>to view the Book list</p>
    <% } %> <%- include("partials/footer") %>
  </body>
</html>
