<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/signup" method="post">

        <!-- User Input -->
         <p>UserName</p>

        <input type="text" name="username" placeholder="username" required/>
        <br><br>

        <p>Password</p>
        
        <input type="password" name="password" placeholder="password" required/>

        <br><br>

        <!-- submit button -->
        
        <button type="submit">Signup</button> <a href="/login"></a>
      </form>
</body>
</html>